.layui-management{
	
	margin: 20px;
	padding: 24px;
	border:1px  solid #e2e2e2 ;
	
}

.layui-management-top form{
	min-width: 1026px;
}
.layui-management-top form div:first-child p{
	margin-bottom: 14px;
}
.layui-management-top form div:first-child p:first-child input{
	width: 80%;
}
.layui-management-top form p.layui-col-md-offset2 select{
	margin-left: 20px;
	width: 80%;
	height: 38px;
	border: #e6e6e6 1px solid;
}
.layui-management .layui-form-item .layui-inline{
	width: 400px;
	
}
.layui-management .layui-form-item .layui-inline label{
	width: 100px;
}
.layui-management .layui-form-item>p input{
	margin-left: 40px;
	width: 120px;
	height: 38px;
}
.layui-management-table table {
	text-align: center;
}
.layui-management-table table th{
	text-align: center;
}
.layui-management-table table tr{
	height: 50px;
}
.layui-management-table table button{
	cursor: pointer;
	border: none;
	width: 140px;
	height: 36px;

	
}
